# Auto detect text files and perform LF normalization
* text=auto

# Git LFS for large database files
data/armorlight.db filter=lfs diff=lfs merge=lfs -text
data/armorlight.db-shm filter=lfs diff=lfs merge=lfs -text
data/armorlight.db-wal filter=lfs diff=lfs merge=lfs -text
